@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

html,
body {
  background-color: #121212;
  font-family: Poppins, sans-serif;
}

/* :root{
  --color-dark-500: #1e1e1f;
  --color-dark-400: #282829;
  --color-seperator: #383838;
  --color-iconmycolor:#8a8a8a ;
  --color-accent:#ffdb70;
} */

@theme {
  --color-dark-500: #1e1e1f;
  --color-dark-400: #282829;
  --color-seperator: #383838;
  --color-iconmycolor:#8a8a8a ;
  --color-accent:#ffdb70;
}

@layer base {
  p {
    @apply text-[#d6d6d6];
  }
  input{
    @apply py-4 px-3 text-sm border border-seperator rounded-xl w-full focus:outline-accent focus:outline-1;
  }
  textarea{
     @apply py-4 px-3  text-sm border border-seperator rounded-xl focus:outline-accent focus:outline-1;
  }
  h1,h2,h3,h4,h5,h6{
    @apply capitalize;
  }
}

@layer components {
  .section-border {
    @apply border border-seperator rounded-[20px];
  }
  .gradint-border{
    @apply p-[1px] rounded-lg md:rounded-xl [background:linear-gradient(to_bottom_right,hsl(0,0%,25%)_0%,hsla(0,0%,25%,0)_50%)];
  }
  .navbar-design{
    @apply lg:rounded-tr-[20px] lg:rounded-bl-[20px] lg:border-b lg:border-l border-seperator;
  }
  .error{
    @apply text-red-500 text-xs capitalize ml-1.5;
  }
  
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}
